<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="/NewEvent">CreateEvent</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div ng-controller="eventsController">
        <img ng-src="/img/AngularJS-large.png" />
        <button class="btn btn-primary" type="button" ng-click="scrollToSession()">Scroll</button>
        <div class="row">
            <div class="span1">
                <h1 ng-class="myclass" ng-bind="events.name"></h1>
                <!--<h2 ng-style="mystyle" ng-bind-template="{{events.name | uppercase}} {{events.date}}"><</h2>-->
            </div>
        </div>

        {{3*10 | number:2}}<br>
        {{"hello"+"world"}}
        {{[1,2,3][3]}}

        <div>{{ {name:'pallala',num:123,address:{city:'STVD',state:'A.P'} } | json }}</div>'
        <div class="row">
            <div class="span3">
                <div><strong>Date:</strong> {{events.date | date:'mediumDate'}}</div>
                <div><strong>Time:</strong>{{events.time}}</div>
                <div><strong>Price:</strong>{{40 |currency}}</div>
            </div>
            <div class="span4">
                <address>
                    <strong>Address:</strong><br>
                    {{events.location.address}}<br>
                    {{events.location.city}}<br>
                    {{events.location.state}}
                </address>
            </div>
        </div>
        <div ng-show="boolval">Show this</div>
        <div ng-hide="boolval">Hide this</div>
        <h3/>
        <h3>Session</h3>
        OrderBy:
        <select ng-model="query" class="small">
            <option selected value="">All</option>
            <option value="session1">Session1</option>
            <option value="raja">Raja</option>
        </select>
        <ul class="thumals">
            <ol ng-repeat="session in events.session | orderBy:sortorder | limitTo:3 | filter:query" class="span11" id="session{{session.id}}">
                <div class="row session">
                    <div class="span0 well votingWidget">
                        <div class="votingButton">
                            <i class="fa fa-chevron-up icon-white"aria-hidden="true"></i>
                        </div>
                        <div class="badge badge-inverse">
                            <div>{{session.voteUpCount}}</div>
                        </div>
                        <div class="votingButton">
                            <i class="icon-chervon-down"></i>
                        </div>
                    </div>
                    <div class="span9">
                        <h4 class="well-title">{{session.name}}</h4>
                        <h6>{{session.createname}}</h6>
                        <h6>{{session.duration | durations}}</h6>
                    </div>
                </div>
            </ol>
        </ul>
    </div>
</div>

</body>
<script src="/lib/angular.min.js"></script>
<script src="/lib/jquery.js"></script>
<script src="/lib/angular-resource.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/eventsController.js"></script>
<script src="/js/services/eventData.js"></script>
<script src="/js/filter.js"></script>
</html>