
        <div  style="padding-left: 20px;padding-right: 20px">
            <div class="container">
                <h1>New Event</h1>
                <h3/>
                <form>
                    <fieldset name="newEventForm">
                        <label for="eventName">Event Name</label>
                        <input type="text" id="eventName" required ng-model="events.name" placeholder="Enter Name"/><br>
                        <label for="eventDate">Event Date</label>
                        <input type="text" id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="events.date" placeholder="Enter date format"/><br>
                        <label for="eventTime">Event Time</label>
                        <input type="text" id="eventTime" ng-model="events.time" placeholder="Enter time"/><br>
                        <label for="eventLocation">Event Location</label>
                        <input type="text" id="eventLocation" placeholder="Enter address"/><br>
                        <br/>

                        <input type="text" id="eventCity" ng-model="events.location.city" class="input-small" placeholder="enter city"/>
                        <input type="text" id="eventState" ng-model="events.location.city" class="input-small" placeholder="enter State"/><br>
                        <div>{{events.name}}</div>
                        <label for="eventImageUrl">Event Image URL</label>
                        <input type="url" id="eventImageUrl" ng-model="events.imageUrl" class="input-xlarge" placeholder="Image URL">
                    </fieldset>

                    <img ng-src="{{events.imageUrl}}" src=""/>
                    <br/>
                    <br/>
                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(events, newEventForm)" class="btn btn-primary">Save</button>
                    <button type="button" ng-click="canceEdit()" class="btn btn-defualt">cancel</button>
                </form>
            </div>
        </div>

